@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    position: relative;
width: 1440px;
height: 1024px;

background: linear-gradient(180deg, #262758 0%, #262758 0.01%, #11132F 22.92%, #100841 70.31%, #100447 79.69%, #121A24 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:  0px;
}

.cabecalho-imagem {
    height: 113px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-family: 'Lato';
    color:  #F2F1D0;
    font-weight: 700;
    font-size: 21px;
    ;
}

.retangulo-sombra {
    position:absolute
    left: -1.11%;
    right: -4.03%;
    top: 16.02%;
    bottom: 0.49%;

    background: radial-gradient(89.51% 89.51% at 50% 52.68%, #000000 0%, rgba(196, 196, 196, 0) 10.11%, #000000 79.29%, rgba(196, 196, 196, 0) 84.46%);
    border-radius: 14px;
}

.retangulo-gradiente{
    position: absolute;
    left: 4.58%;
    right: 5%;
    top: 22.7%;
    bottom: 10.93%;
    
    background: conic-gradient(from 269.11deg at 102.91% -7.92%, #B34729 -127.91deg, #541387 0.85deg, #B34729 232.09deg, #541387 360.85deg);
    border-radius: 14px;
    z-index: -1;
}

.conteudo {
    
    margin-bottom: 48px;

}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 100px;
    padding-left: 70px;
}

.conteudo-principal-logo {
    max-width: 100%;
    max-height: 100%;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Lato';
    color:  #F2F1D0;
    font-weight: 700;
    font-size: 37px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


.container-da-imagem {
    float: leftwidth:50%;
    padding:5px;
    max-width:100px;
    max-height:100px;
    display: flex;
    flex:50%;
    padding: 5px;
}

.img-direita {
    
}
    
.conteudo-principal-tela1 {
    display: block;
  width: auto;
  height: auto;
  position: absolute;
  width: 125px;
  height: 278px;
}



.conteudo-secundario {
    display: flex;

}

.conteudo-secundario-descricao{
font-family: 'Lato';
color:  #F2F1D0;
font-weight: 400;
font-size: 17px;
display: flex;
justify-content: flex-end;
z-index: 1;
}

.conteudo-secundario-logo {

}

.rodape {
    padding: 32px;

}

.rodape-subtitulo {
    font-family: 'Lato';
    color:  #F2F1D0;
    font-weight: 400;
    font-size: 7px;
    display: block;
    margin: 0 auto;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}